<ion-view title="Todo List" ng-init="getTodos()">
    <ion-nav-buttons side="right">
        <button class="right button button-icon icon ion-plus" ui-sref="create"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item ng-repeat="todo in todos">
                <div class="row">
                    <div class="col">
                        <strong>{{todo.value}}</strong>
                    </div>
                </div>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteTodo(todo.id)">
                </ion-option-button>
                <ion-option-button class="button-assertive icon ion-edit" ng-click="openEditModal(todo.id)">
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>